* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.image-box {
  height: 50%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px dotted rgb(223, 33, 26);
  background-image: url("../images/background-image2.jpg");
  background-position: cover;
}
.image-box__text {
  font-size: 3rem;
  font-weight: 900;
  color: red;
}
