main {
  padding: 20px;
}
main section:last-child {
  background-color: burlywood;
}
main section:first-child {
  background-color: cornflowerblue;
}

main:hover {
  background-color: rgb(248, 184, 197);
}

main section:first-child:hover {
  background-color: darkslateblue;
}

main:hover section:last-child {
  background-color: rgb(189, 80, 53);
}

main a {
  padding: 10px;
  background-color: rgb(219, 119, 119);
}
