* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 50px;
  background-color: rgb(184, 184, 250);
}
h2 {
  color: rgb(168, 79, 16);
}
section h2#titulo {
  color: crimson;
}
#titulo::first-letter {
  font-size: 3rem;
  color: rgb(255, 0, 0);
}
.texto {
  width: 50%;
  color: rgb(255, 51, 0);
}
