body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  border: 8px dotted red;
}

h1 {
  margin: 0 0;
  font-size: 4rem;
  padding: 2em;
  color: white;
  background-color: rgb(241, 137, 137);
}
