* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rosybrown;
}
section {
  overflow: hidden;
}
img {
  width: 10%;
  position: relative;
  animation: kula 15s ease-in-out infinite;
}

@keyframes kula {
  0% {
    left: 120%;
    transform: scale(1);
  }
  50% {
    left: -60%;
  }

  51% {
    left: -10%;
  }
  99% {
  }
  100% {
    transform: scaleX(-1);
    left: 120%;
  }
}
